.container-about{
  margin-top: 50px;
  margin: 70px 50px;

}

.about-content{
  margin-top: 30px;
  text-align: start;
}

.our-name{
  font-size: 2rem;
  font-weight: bold;
  color: red;
  margin-bottom: 20px;
}
.our-discription{
  color: black;
  margin-bottom: 30px;
}