.user-table-container {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

h2 {
  color: #333;
}

.search-box {
  width: 30%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.user-table th,
.user-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.user-table th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.user-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table tr:hover {
  background-color: #eaeaea;
  cursor: pointer;
}

.user-table td {
  color: #555;
}
.delete-user{
  font-size: 18px;
  margin: 0;
  color: red;
}

.edit-user{
  font-size: 15px;
  margin: 0;
  color: blue;
}